<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CabinetMgr.Bll.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="CabinetBll.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CabinetMgr.Bll.Properties.Settings>
            <setting name="CabinetBll_UpdateServiceRef_MainService" serializeAs="String">
                <value>http://10.128.177.61:8080/UpdateService/MainService.asmx</value>
            </setting>
            <setting name="CabinetBll_ToolBarServiceRef_ToolBarServiceManage"
                serializeAs="String">
                <value>http://10.128.180.88:8991/ToolBarServiceManage.asmx</value>
            </setting>
            <setting name="CabinetBll_MeasureServiceRef_MeasureService" serializeAs="String">
                <value>http://10.128.180.88:8799/RepairService.asmx</value>
            </setting>
            <setting name="CabinetBll_SyncServiceRef_SyncService" serializeAs="String">
                <value>http://10.215.91.115:8080/CabinetService/SyncService.asmx</value>
            </setting>
            <setting name="CabinetMgr_Bll_ToolServiceRef_ToolService" serializeAs="String">
                <value>http://10.215.91.115:8080/ToolService/ToolService.asmx</value>
            </setting>
        </CabinetMgr.Bll.Properties.Settings>
        <CabinetBll.Properties.Settings>
            <setting name="CabinetBll_SyncServiceRef_SyncService" serializeAs="String">
                <value>http://10.215.91.115:8080/CabinetService/SyncService.asmx</value>
            </setting>
            <setting name="CabinetBll_UpdateServiceRef_MainService" serializeAs="String">
                <value>http://10.128.177.61:8080/UpdateService/MainService.asmx</value>
            </setting>
            <setting name="CabinetBll_ToolServiceRef_ToolBarServiceManage"
                serializeAs="String">
                <value>http://10.215.91.115:8080/ToolService/ToolService.asmx</value>
            </setting>
            <setting name="CabinetBll_ToolBarServiceRef_ToolBarServiceManage"
                serializeAs="String">
                <value>http://10.128.180.88:8991/ToolBarServiceManage.asmx</value>
            </setting>
            <setting name="CabinetBll_MeasureServiceRef_MeasureService" serializeAs="String">
                <value>http://10.128.180.88:8499/MeasureService.asmx</value>
            </setting>
        </CabinetBll.Properties.Settings>
    </applicationSettings>
</configuration>