<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <configSections>
    <section name="extnet" type="Ext.Net.GlobalConfig" requirePermission="false"/>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <connectionStrings>
    <add name="CabinetServer" connectionString="Data Source=LocalHost\SQLExpress;Initial Catalog=CabinetServer;User ID=sa;password=XLT@62142100"/>
    <add name="CabinetServerLocal" connectionString="Data Source=.;Initial Catalog=CabinetServer;User ID=sa;password=Xlt62142100"/>
    <add name="ZwStock" connectionString="Data Source=LocalHost\SQLExpress;Initial Catalog=ZWStock;User ID=sa;password=XLT@62142100"/>
    <add name="ZwStockLocal" connectionString="Data Source=.;Initial Catalog=ZWStock;User ID=sa;password=Xlt62142100"/>
  </connectionStrings>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="variable1"
              value="${newline}时间： ${date}             ${newline}级别： ${level}             ${newline}来源： ${logger}             ${newline}设备： ${machinename}               ${newline}程序： ${appdomain}             ${newline}版本： ${assembly-version}             ${newline}路径： ${basedir}               ${newline}方法： ${callsite}             ${newline}进程： ${processname}             ${newline}堆栈： ${stacktrace}             ${newline}信息： ${message}${onexception:异常： ${newline}\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}             ${newline}-----------------------------------------------------------" />
    <targets>
      <target name="file" xsi:type="File" fileName="${basedir}/RuntimeLog.txt" layout="${variable1}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="file" />
    </rules>
  </nlog>

  <location path="." inheritInChildApplications="false">
    <system.web>
      <compilation debug="true" targetFramework="4.0">
        <assemblies>
          <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        </assemblies>
      </compilation>
      <!-- This httpHandlers config only required if using IIS6 (or lower) -->
      <!--
    <httpHandlers>
      <add path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler" validate="false" />
    </httpHandlers>
    -->
      <!-- This httpModules config only required if using IIS6 (or lower) -->
      <!--
    <httpModules>
      <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net" />
      <add name="AuthModule" type="AuthenticationModule" />
    </httpModules>
    -->
      <pages>
        <controls>
          <add assembly="Ext.Net" namespace="Ext.Net" tagPrefix="ext"/>
        </controls>
        <namespaces>
          <add namespace="Ext.Net"/>
        </namespaces>
      </pages>
    </system.web>
    <system.webServer>
      <modules>
        <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net" preCondition="managedHandler"/>
        <add name="AuthModule" type="AuthenticationModule"/>
      </modules>
      <handlers>
        <add name="DirectRequestHandler" verb="*" path="*/ext.axd" preCondition="integratedMode" type="Ext.Net.ResourceHandler"/>
      </handlers>
      <validation validateIntegratedModeConfiguration="false"/>
    </system.webServer>
    <extnet theme="Triton" licenseKey="bmV0LDUsOTk5OS0xMi0zMA==" initScriptMode="Linked"/>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- This httpHandlers config only required if using IIS6 (or lower) -->
  <!--
    <httpHandlers>
      <add path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler" validate="false" />
    </httpHandlers>
    -->
  <!-- This httpModules config only required if using IIS6 (or lower) -->
  <!--
    <httpModules>
      <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net" />
    </httpModules>
    -->
</configuration>