<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="variable1"
            value="${newline}时间： ${date}
            ${newline}级别： ${level}
            ${newline}来源： ${logger} 
            ${newline}程序： ${appdomain}
            ${newline}版本： ${assembly-version}
            ${newline}路径： ${basedir}  
            ${newline}方法： ${callsite}
            ${newline}堆栈： ${stacktrace}
            ${newline}信息： ${message}${onexception:异常： ${newline}\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}
            ${newline}-----------------------------------------------------------" />

  <targets>
    <!--屏幕打印消息-->
    <target name="console" xsi:type="ColoredConsole"
            layout="{date:format=HH\:mm\:ss}
              {date:format=HH\:mm\:ss}
              {message}"/>

    <!--VS输出窗口-->
    <target name="debugger" xsi:type="Debugger"
            layout="date:format=HHmmss|date:format=HHmmss|{level:padding=-5} | ${message}" />

    <!--保存至文件-->
    <target name="error_file" xsi:type="File" maxArchiveFiles="30"
            fileName="${basedir}/Logs/${shortdate}/log.txt"
            layout="${variable1}" />
  </targets>
  <rules>
    <!--<logger name="*" writeTo="console" />-->
    <logger name="*" minlevel="Trace" writeTo="error_file" />
  </rules>
</nlog>
