<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <httpRuntime maxRequestLength="1048576"/>
    </system.web>

  <connectionStrings>
    <add name="cabinetServer" connectionString="Data Source=10.215.91.115\SQLExpress;Initial Catalog=CabinetServer;User ID=sa;password=XLT@62142100 "/>
    <!--<add name="cabinetServer" connectionString="Data Source=.;Initial Catalog=CabinetServer;User ID=sa;password=Xlt62142100 "/>-->
  </connectionStrings>
</configuration>
