<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="variable1"
              value="${newline}时间： ${date}             ${newline}级别： ${level}             ${newline}来源： ${logger}             ${newline}设备： ${machinename}               ${newline}程序： ${appdomain}             ${newline}版本： ${assembly-version}             ${newline}路径： ${basedir}               ${newline}方法： ${callsite}             ${newline}进程： ${processname}             ${newline}堆栈： ${stacktrace}             ${newline}信息： ${message}${onexception:异常： ${newline}\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}             ${newline}-----------------------------------------------------------" />
    <targets>
      <target name="file" xsi:type="File" fileName="${basedir}/RuntimeLog.txt" layout="${variable1}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="file" />
    </rules>
  </nlog>

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>