<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <connectionStrings>
    <add name="zwStock" connectionString="Data Source=LocalHost\SQLExpress;Initial Catalog=ZWStock;User ID=sa;password=XLT@62142100 "/>
    <!--<add name="zwStock" connectionString="Data Source=.;Initial Catalog=ZWStock;User ID=sa;password=Xlt62142100 "/>-->
  </connectionStrings>
</configuration>