<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FKCollector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="cabinet" connectionString="Data Source=.;Initial Catalog=CabinetLocal;User ID=sa;password=Xlt62142100 "/>
    <!--<add name="cabinet" connectionString="Data Source=.;Initial Catalog=CabinetServer;User ID=sa;password=Xlt62142100 "/>-->
  </connectionStrings>
  <appSettings>
    <!--<add key="orgId" value="23a893ce-1793-4155-aac0-7cf44f9b9c8e,826a1435-7912-45ab-bd30-7962c7e06b0a,"/>-->
    <add key="orgId" value="b842c28c-8437-4727-b248-1b8c1b5373a8,826a1435-7912-45ab-bd30-7962c7e06b0a,393cac21-f0e8-4946-85e0-7b4e69348ac7"/>
    <!--<add key="deviceType" value="zoko"/>-->
    <add key="deviceType" value=""/>
    <add key="deviceIp" value=""/>
    <add key="devicePort" value=""/>
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <FKCollector.Properties.Settings>
      <setting name="FKCollector_FeatureUpdateServiceRef_FeatureUpdateService"
        serializeAs="String">
        <value>http://10.215.91.115:8080/FeatureService/FeatureUpdateService.asmx</value>
      </setting>
    </FKCollector.Properties.Settings>
  </applicationSettings>
</configuration>